@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  
  .dark {
    --bg-header: #292929;
    --background: #121212;
    --foreground: #e5e5e5;
    --muted: #303030;
    --muted-foreground: #b3b3b3;
    --popover: #333333;
    --popover-foreground: #e5e5e5;
    --card: #1e1e1e;
    --card-foreground: #e5e5e5;
    --border: #444444;
    --input: #444444;
    --primary: #bb86fc;
    --primary-foreground: #121212;
    --secondary: #333333;
    --secondary-foreground: #b4b4b4;
    --secondary-white: #ffffff;
    --accent: #303030;
    --accent-foreground: #bb86fc;
    --destructive: #cf6679;
    --destructive-foreground: #121212;
    --ring: #e5e5e5;
    --radius: 0.5rem;
  }

  .light{
    --bg-header: #c5c5c5;
    --secondary: #ffffff;
    --secondary-foreground: #1b1b1b;
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground text-base;
    font-family: 'Lato', sans-serif;
  }
}